.App {
  margin: 20px;
}

header {
  background-color: rgb(2, 28, 57);
  height: 58px;
  
}

#logo {
  color: rgb(90, 255, 192);
  font-weight: bold;
  font-family: 'Arial';
  font-size: 35px;
  padding-top: 10px;
  padding-left: 20px;

}

.main-info {
  background-color: rgb(235, 235, 235);
  padding: 20px;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
}

.poster {
   /* first column, first row: poster */
   grid-column: 1;
   grid-row: 1;
}

.main-info {
 /* second column, first row: title, rating, release date, overview */
  grid-column: 2;
  grid-row: 1;
}

.cast {
  /* second row, second column: cast list */
  background-color: rgb(235, 235, 235);
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
}

.headshots {
  width: 100px; /* you can use % */
  height: auto;
  padding-right: 10px;
}

.cast-info {
  padding-bottom: 10px;
}

.similar {
  /* second row, first column: similar movies list */
  background-color: rgb(235, 235, 235);
  grid-column: 1;
  grid-row: 2;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}